@import "node_modules/ol/ol.css";
@import "./node_modules/ol-ext/control/LayerSwitcherImage.css";
@import "./node_modules/ol-ext/control/LayerSwitcher.css";
@import "./node_modules/ol-ext/control/Search.css";
@import "./node_modules/ol-ext/overlay/Popup.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ol-zoom .ol-zoom-out {
  margin-top: 200px;
}
.ol-zoomslider {
  background-color: transparent;

  top: calc(0.5em + 2px + 1px + 1.14 * 1.375em);
}

.ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
.ol-touch .ol-zoomslider {
  top: 2.75em;
}

.ol-zoom-in.ol-has-tooltip:hover [role="tooltip"],
.ol-zoom-in.ol-has-tooltip:focus [role="tooltip"] {
  top: 3px;
}

.ol-zoom-out.ol-has-tooltip:hover [role="tooltip"],
.ol-zoom-out.ol-has-tooltip:focus [role="tooltip"] {
  top: 232px;
}

/* Zoom to extent style */
.ol-zoom-extent {
  margin-top: 230px;
}

/* ol-mouse posistion */
.custom-mouse-position {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: rgba(187, 178, 178, 0.507);
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
}

.ol-attribution {
  bottom: 25px;
  color: blue;
}

/* scale-bar  */
.ol-scale-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.ol-overviewmap {
  bottom: 30px;
  left: 0.5em;
}

header {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;
  height: 100vh;
}

/* Set the styles for the navbar */
.navbar {
  background-color: #dce5e7;
  padding: 10px;
  grid-column: 1 / span 2;
}

/* Set the height and width of the side panel div */
.side-panel {
  grid-column: 1;
  grid-row: 2;
  background-color: #bbb4b4;
}

#map {
  grid-column: 2;
  grid-row: 2;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 160px;
  height: 120px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

/* Add CSS styles to style the popup */
.popup-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.popup-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #a9c8ce;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 25%;
  opacity: 0.9;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
}

/* Custom CSS for the scale input */
#scaleInput {
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
